
#cadastro{
    height: 70%;
}
#login{
    height: 70%;
    width: 300px;
}
label{
    font-weight: bold;
}
.col.w-100.h-100.centro{
    height: 100vh;
    min-width: 500px;
}

.form-group{
    margin-top: 30px;
}

input,select{
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: var(--cor-input);
}

span{
    font-weight: bold;
}

#pass-group{
    justify-content: space-between;
}

#pass-input{
    margin-right: 20px ;
}
#pass-group input{
    width: 120px;
}



#checkbox-termos{
    margin: auto;
    margin-left: 0px;
    margin-right: 20px;
}


#container-cadastro{
    display: flex;
    
}

#btn-finalizar{
    text-align: center;
}


@media screen and (max-width:860px) {

    .side-img{
        display: none;
        visibility: hidden;
    }
    .top-bar{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        color: white;
        
    }
    .top-bar img{
        margin: 0;
        align-self: center;
        margin-right: 20px;
        position: absolute;
        width: 40px;
        height: auto;
        right: 10px;
    }
    .top-bar h1{
       margin-left: auto;
        margin-right: auto;
    }
    .col.w-100.h-100.centro{
        height: 100%;
        min-width: 300px;
        
    }

    #container-cadastro{
        display: flex;
        flex-direction: column;
        
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    #cadastro{
        width: 300px;
    }

    #login{
        width: 300px;
    }
    #btn-finalizar{
        width: 85%;
        text-align: center;
        
    }
    .btn{
        margin: 0;
    }

    
    #main-logo{
        height: 10%;
        width: auto;
    }

}