*{
    --cor-principal :  #3066BE;
    --cor-input: #EBE3E3;
    margin: 0;
    padding: 0;
    font-family:'Mulish', sans-serif;
}

a{
    text-decoration: none;
}


.row{
    display: flex;
}

.row.w-100.centro{

    justify-content: center;
    width: 100%;

}

.col{
    display: flex;
    flex-direction: column;
}

.col.w-100.centro{

    justify-content: center;
    align-items: center;
    width: 100%;

}
.col.w-100.h-100.centro{

    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90vh;

}


.top-bar{
    height: 10vh;
    width: 100vw;
    background-color: var(--cor-principal);
    display: none;
}

.top-bar img {
    height: 50%;
    width: auto;
    margin-top: 2vh ;
    margin-left: 2em;
}

.btn{
    background-color: var(--cor-principal);
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 3px;
    margin: 20px 10px;
    font-size: 30px;
}
.btn:hover{
    cursor: pointer;
}

.side-img{
    height: 100vh;
    width: 45vw;
}

.container{
    width: 80%;
    display: flex;
}

.container h2{
    text-align: center;
}

.side-img{
    background-color: var(--cor-principal);
    background-image: url("../img/side-img-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    min-width: 350px;
}
.side-img img{
    margin: 20px 40px;
    width: 50%;
    min-width: 200px;
    height: auto;
}


#home-top-bar{
    height: 10vh;
    width: 100vw;
    background-color: var(--cor-principal);
    display: block;
}
#home-top-bar img{
    height: 50%;
    width: auto;
    margin-top: 2vh ;
    margin-left: 2em;
    
}


@media screen and (max-width:860px) {

    .side-img{
        display: none;
        visibility: hidden;
    }
    .top-bar{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        color: white;
        
    }
    .top-bar img{
        margin: 0;
        align-self: center;
        margin-right: 20px;
        position: absolute;
        width: 40px;
        height: auto;
        right: 10px;
    }

    .top-bar h1{
       margin-left: auto;
        margin-right: auto;
    }
    .col.w-100.h-100.centro{
        min-width: 300px;
        
    }

    #container-cadastro{
        display: flex;
        flex-direction: column;
        
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    #cadastro{
        width: 300px;
    }

    #login{
        width: 300px;
    }
    #btn-finalizar{
        width: 85%;
        text-align: center;
        
    }
    .btn{
        margin: 0;
    }

    
    #main-logo{
        height: 10%;
        width: auto;
    }

}